.button {
  border-radius: 20px;
  color: #fff;
  background-color: #3498db;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 100%;
  font-size: 30px;
  padding: 15px;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(59, 155, 233, 0.418);
  }
  &:active {
    transition: background-color 0s;
    background-color: #163f5a;
  }
}
