.list__item {
}

.list__button {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
}

.list__text {
  font-size: 70px;
}

.list__curtain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6366f1;
  z-index: 1;
  &:hover {
    background-color: #4648b1;
  }
}

.list__curtain_open {
  background-color: transparent;
  transition: background-color 0.2s;
  &:hover {
    background-color: transparent;
  }
}

.list__curtain_close {
  background-color: #6366f1;
}

@media (max-width: 540px) {
  .list__text {
    font-size: 50px;
  }
}

@media (max-width: 420px) {
  .list__button {
    padding: 10px;
    aspect-ratio: 1/1;
  }

  .list__text {
    font-size: 35px;
  }
}

@media (max-width: 350px) {
  .list__button {
    padding: 8px;
    aspect-ratio: 1/1;
  }

  .list__text {
    font-size: 32px;
  }
}
